body {
    margin: 0;
    font-family: sans-serif;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

menu {
    position: fixed;
    height: 50px;
    width: 100%;

    background-color: #000;
    margin-top: 0;
    padding: 15px 13%; /* to follow the given example or this can be the same as footer ul */
}

menu ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0; 
}

menu ul li {
    padding-left: 20px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    line-height: 1em;
}

section {
    position: relative;
    font-size: larger;
    margin-top: 50px;
    padding: 50px 12% 50px;
    background-color: #c6bfbf;
    line-height: 1em;
}

article {
    position: relative;
    text-align: left;
    font-size: larger;
    display: flex;
    gap: 50px;
    padding: 50px 12%;
    line-height: 1em;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    background-color: #0b4d14;
    padding: 20px 12%;
    box-sizing: border-box;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

footer ul li {
    padding-left: 20px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    line-height: 1em;
}